body{
    margin:0;
    
}
.bg-box {
   max-height:800px;
   height:100vh;
  }
  
  .lottie-animation {
      display:flex;
      overflow: hidden;
      object-fit: cover;
        object-position: center;
        width:100%;
    max-height:300px;
  }
  
  /* .laptopMan{
    display:flex;
  } */
  .text{
    margin-top:20px;
  }

/* .mobileMan{
    display:flex;
   max-width:500px;
   margin-left: auto;
} */
.post-container{
    display:flex;
}
.post-container button{
    display:inline;
    height:40px;
    width:400px;
    padding:0px;
    margin-top:100px;
    max-width:200px;
}
.arrow{
   max-width:400px;
}
/* footer{
    max-height:300px;
} */
.footerAni{
    display:flex;
    overflow: hidden;
    object-fit: cover;
      object-position: center;
      width:100%;
  /* max-height:300px; */
  opacity: 0.4;
  z-index:0
}

#footer{
  display:flex;
    overflow: hidden;
    object-fit: cover;
      object-position: center;
      width:100%;
  max-height:300px;
}
.layout{
  position: fixed;
 
  height:70px;
  width: 100%;
  display: block;
  
 background: transparent;
  transition: top 2s linear 1s;
  z-index: 1;
}

.navbar.active {
  /* left: 0; */
}

/* .man2{
  margin-left:20px;
  margin-top: 20px;
} */

/* .mobileman{
  margin-top: 20px;
} */
@keyframes type {
  from {
    width: 0; /* Start with no visible text */
  }
  to {
    width: 100%; /* Reveal all text */
  }
}

.typing-text {
  overflow: hidden; /* Hide any overflowing characters */
  white-space: nowrap; /* Keep text on a single line */
  animation: type 4s steps(45, end); /* Animation with 20 steps */
 animation-iteration-count: infinite;
}
/* .Back-laptopMan{
  display:grid;
  grid-template-columns: 1fr;
  gap:20px;
}
.laptopman{
  display: flex;
  max-width: 500px;
}
.Back-MobileMan{
  display:flex;
}
.mobileman{
  display:flex;
 max-width:500px;
} */

/* body {
  margin: 0;
} */

/* .bg-container{
  display:flex;
  align-items: center;
} */
.laptopman, .mobileman {
  width: 100%; /* Make Lottie animation responsive */
  max-width: 300px; /* Limit max width for larger screens */
  height: auto; /* Maintain aspect ratio */
 
}
.Back-laptopMan, .Back-MobileMan{
  display: grid;
  grid-template-columns: 1fr; /* Default to a single column */
  gap: 10px; /* Space between grid items */
  padding: 20px; /* Padding around the grid */
  justify-content: center;
}
@media (min-width: 768px) {
  .Back-laptopMan,.Back-MobileMan {
      grid-template-columns:.9fr 1.0fr;
  }

  .Back-laptopMan,
  .Back-MobileMan {
      flex-direction: row; /* Change to row layout on small screens */
      justify-content: center; /* Center items in a row */
      align-items: center;
  }
}
/* @media screen and (min-width: 750px){
  .Back-laptopMan{
    
  }
} */
.Back-laptopMan .text h1,
.Back-MobileMan .text h1{

  font-size: 1em;
  border-left: 5px solid #0505A9;
  padding: 10px;
  color: #000;
  /* letter-spacing: 3px; */
  /* margin-bottom: 60px; */
  font-weight: bold;
  padding-left: 10px;
}